@font-face {
  font-family: "Gordita Black";
  src: url("../../fonts/Gordita Black.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Regular Italic";
  src: url("../../fonts/Gordita Regular Italic.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Regular";
  src: url("../../fonts/Gordita Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Thin";
  src: url("../../fonts/Gordita Thin.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Thin Italic";
  src: url("../../fonts/Gordita Thin Italic.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Light";
  src: url("../../fonts/Gordita Light.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Light Italic";
  src: url("../../fonts/Gordita Light Italic.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Medium";
  src: url("../../fonts/Gordita Medium.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Medium Italic";
  src: url("../../fonts/Gordita Medium Italic.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Bold";
  src: url("../../fonts/Gordita Bold.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Bold Italic";
  src: url("../../fonts/Gordita Bold Italic.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Black";
  src: url("../../fonts/Gordita Black.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Gordita Black Italic";
  src: url("../../fonts/Gordita Black Italic.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Gordita Ultra";
  src: url("../../fonts/Gordita Ultra.woff") format("woff");
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --screen-top: calc(95px + 20px * 2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1600px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  --txt-color: #fff026;
  --bg-color: #1f4690;
  display: inline-flex;
  padding: 8px 25px;
  background-color: var(--bg-color);
  color: var(--txt-color);
  transition: all 250ms ease;
  font-size: 18px;
  gap: 0.7rem;
  font-family: "Gordita Medium", sans-serif;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.button--celeste {
  --bg-color: #0097b2;
  --txt-color: #ffff;
}

.button:active {
  transform: scale(1.1);
}

.button-rounded-sm {
  border-radius: 10px;
}

.button:hover {
  --bg-color: #0097b2;
}

.screen-top {
  margin-top: var(--screen-top);
}

.h-screen-top {
  min-height: calc(100vh - var(--screen-top));
}

.page-section {
  padding-top: 109px;
  padding-bottom: 109px;
}

.page-section--sm {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  font-size: 2.5rem;
  line-height: 3.5625rem;
  margin-bottom: 1.5rem;
  color: #1f4690;
  font-family: "Gordita Bold";
}

.section-title--xl {
  font-size: 3.125rem;
  line-height: 4.5rem;
}

.section-title--m2 {
  margin-bottom: 5rem;
}

.section-title--celeste {
  color: #0097b2;
}

.section-title--white {
  color: #ffffff;
}

.section-title--yellow {
  color: #fff026;
}

.section-text {
  font-size: 1.5625rem;
  line-height: 2.1875rem;
  font-family: "Gordita Regular";
  color: #313131;
}

.text {
  font-size: 1.25rem;
  line-height: 2.063rem;
}

.text-22 {
  font-size: 1.375rem;
  line-height: 1.75rem;
}

.text-15 {
  font-size: 0.938rem;
  line-height: 1.313rem;
}

.text-18 {
  font-size: 1.125rem;
  line-height: 1.563rem;
}

.text-20 {
  font-size: 1.25rem;
  line-height: 1.813rem;
}

.text-25 {
  font-size: 1.563rem;
  line-height: 2.188rem;
}

.text-30 {
  font-size: 1.875rem;
  line-height: 2.688rem;
}

.text-50 {
  font-size: 3.125rem;
  line-height: 4.5rem;
}

.button-custom {
  background-color: #ffffff;
  color: #0097b2;
  font-family: "Gordita Bold";
  font-size: 35px;
  line-height: 50px;
  min-width: 350px;
  padding: 0.4rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.button--rounded-md {
  border-radius: 0.75rem;
}

.button-size-md {
  font-size: 1.563rem;
  line-height: 2.1875rem;
}

.button-custom:hover .button-custom__icon {
  transform: translateX(20px);
}

.content-editor h2 {
  font-size: 2.5rem;
  line-height: 3.5625rem;
  margin-bottom: 1.5rem;
  color: #1f4690;
  font-family: "Gordita Bold";
  margin-bottom: 1.6rem;
}

.content-editor h3 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Gordita Bold";
  color: #1f4690;
  margin-bottom: 1.4rem;
}

.content-editor p {
  font-size: 1.5625rem;
  line-height: 2.1875rem;
  font-family: "Gordita Regular";
  color: #313131;
  margin-bottom: 1.5rem;
}

.content-editor b {
  font-family: "Gordita Bold";
  color: #1f4690;
}
