@font-face {
  font-family: "Gordita Black";
  src: url("../../fonts/Gordita Black.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Regular Italic";
  src: url("../../fonts/Gordita Regular Italic.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Regular";
  src: url("../../fonts/Gordita Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Thin";
  src: url("../../fonts/Gordita Thin.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Thin Italic";
  src: url("../../fonts/Gordita Thin Italic.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Light";
  src: url("../../fonts/Gordita Light.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Light Italic";
  src: url("../../fonts/Gordita Light Italic.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Medium";
  src: url("../../fonts/Gordita Medium.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Medium Italic";
  src: url("../../fonts/Gordita Medium Italic.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Bold";
  src: url("../../fonts/Gordita Bold.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Bold Italic";
  src: url("../../fonts/Gordita Bold Italic.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gordita Black";
  src: url("../../fonts/Gordita Black.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Gordita Black Italic";
  src: url("../../fonts/Gordita Black Italic.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Gordita Ultra";
  src: url("../../fonts/Gordita Ultra.woff") format("woff");
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --c-celeste-50: "#0097B27D";
  --c-celeste-100: "#0097B2";
  --screen-top: 56px;
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  --breakpoint-desktop-middle: 1440px;
  --breakpoint-desktop-large: 1600px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.services__item {
  cursor: pointer;
}

.services__content {
  transition: all ease 250ms;
}

.services__item:hover .services__content {
  height: 300px;
}

@media screen and (min-width: 1280px) {
  .services__item:hover .services__content {
    height: 364px;
  }
}

.services__item h3 {
  transition: color esae 250ms;
}

.services__item:hover h3 {
  color: #0097b2;
}

.services__item:hover .services__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.services__item .services__bg {
  transition: backgroundColor ease 250ms;
}

.services__item:hover .services__bg {
  background: #000000f2;
}

.main-banner #initial-top-hero img,
.main-banner #initial-bottom-hero img {
  opacity: 0;
  transition: opacity ease 250ms;
}

.main-banner #initial-top-hero p,
.main-banner #initial-bottom-hero p {
  transition: left 250ms ease;
}

.main-banner #initial-top-hero p span,
.main-banner #initial-bottom-hero p span {
  display: none;
}

.main-banner #initial-top-hero p span.active,
.main-banner #initial-bottom-hero p span.active {
  display: inline-block;
}

.main-banner #initial-top-hero img.active,
.main-banner #initial-top-hero p.active,
.main-banner #initial-bottom-hero img.active,
.main-banner #initial-bottom-hero p.active {
  opacity: 1;
}

.containerc {
  max-width: 1600px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1024px) {
  .containerc {
    width: 80%;
  }
}

.button {
  --txt-color: #fff026;
  --bg-color: #1f4690;
  display: inline-flex;
  padding: 4px 17px;
  background-color: var(--bg-color);
  color: var(--txt-color);
  transition: all 250ms ease;
  font-size: 16px;
  gap: 0.7rem;
  font-family: "Gordita Medium", sans-serif;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .button {
    padding: 6px 21px;
  }
}

@media screen and (min-width: 1600px) {
  .button {
    padding: 8px 25px;
    font-size: 18px;
  }
}

.button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0097b2;
  transform: scale(0);
  transform-origin: right top;
  transition: all 250ms ease;
  z-index: -1;
}

.button:hover::before {
  transform: scale(1);
}

.button--celeste {
  --bg-color: #0097b2;
  --txt-color: #ffff;
}

.button--celeste2 {
  --bg-color: #0097b2;
  --txt-color: #fff026;
}

.button--md {
  padding: 12px 40px;
  font-size: 20px;
}

.button--lg {
  padding: 15px 25px;
  font-size: 30px;
}

.button:active {
  transform: scale(1.1);
}

.button-rounded-sm {
  border-radius: 10px;
}

.button--celeste {
  /* background-color: #0097b2;
  border: solid 1px #0097b2; */
  /* color: #fff; */
}

/*
  button variants
*/

.button--variant-2 {
  background-color: transparent;
}

.button--variant-2::before {
  transform: scale(1);
  transform-origin: left center;
  transition: all 250ms ease;
  left: 0;
  top: 0;
}

.button--variant-2.button--celeste::before {
  background-color: #0097b2;
  border: solid 1px #0097b2;
}

.button--variant-2.button--celeste {
  border: solid 1px #0097b2;
}

.button--variant-2.button--celeste:hover::before {
  left: 100%;
}

.button--variant-2.button--celeste {
  color: #fff;
  /* background-color: #fff; */
}

.button--variant-2.button--celeste:hover {
  color: #0097b2;
}

.screen-top {
  margin-top: var(--screen-top);
}

.h-screen-top {
  min-height: calc(100vh - var(--screen-top));
}

@media screen and (min-width: 1024px) {
  body {
    --screen-top: 80px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    --screen-top: 100px;
  }
}

@media screen and (min-width: 1600px) {
  body {
    --screen-top: 135px;
  }
}

.page-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.page-section--sm {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  .page-section {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  .page-section--sm {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

@media screen and (min-width: 1600px) {
  .page-section {
    padding-top: 109px;
    padding-bottom: 109px;
  }

  .page-section--sm {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-title {
  font-size: 1.5rem;
  line-height: 2.5625rem;
  margin-bottom: 1.5rem;
  color: #1f4690;
  font-family: "Gordita Bold";
}

.section-title--xl {
  font-size: 2.125rem;
  line-height: 3rem;
}

.section-title--m2 {
  margin-bottom: 5rem;
}

.section-title--celeste {
  color: #0097b2;
}

.section-title--white {
  color: #ffffff;
}

.section-title--yellow {
  color: #fff026;
}

.section-text,
.header__link {
  font-size: 1rem;
  line-height: 1.5;
}

@media screen and (min-width: 1600px) {
  .section-title {
    font-size: 2.5rem;
    line-height: 3.5625rem;
    margin-bottom: 1.5rem;
  }

  .section-title--xl {
    font-size: 3.125rem;
    line-height: 4.5rem;
  }

  .section-text,
  .header__link {
    font-size: 1.5625rem;
    line-height: 2.1875rem;
  }
}

/*
  Fonts
*/
/* .text {
  font-size: 1.25rem;
  line-height: 2.063rem;
} */
/* 

/*
  Responsive fonts
*/
.text {
  font-size: 0.8125rem;
  line-height: 1.313rem;
}

.text-22,
.verification__description ul li {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.text-15 {
  font-size: 0.625rem;
  line-height: 0.875rem;
}

.text-18 {
  font-size: 0.75rem;
  line-height: 1.043rem;
}

.text-20 {
  font-size: 0.8125rem;
  line-height: 1.172rem;
}

.text-25,
.content-editor p,
.button-size-md {
  font-size: 1.015rem;
  line-height: 1.422rem;
}

.text-30 {
  font-size: 1.21875rem;
  line-height: 1.732rem;
}

.text-50 {
  font-size: 2.03125rem;
  line-height: 2.906rem;
}

.text-57 {
  font-size: 1.6rem;
  line-height: 2.33rem;
}

.text-40,
.content-editor h2 {
  font-size: 1.5rem; /* Tamaño base */
  line-height: 2.25rem; /* Altura de línea base */
}

/* Breakpoint para tablet */
@media (min-width: 640px) {
  .text-57 {
    font-size: calc(1.6rem + 0.2375 * ((100vw - 640px) / 960));
    line-height: calc(2.33rem + 0.275 * ((100vw - 640px) / 960));
  }
}

/* Breakpoint para laptop */
@media (min-width: 1024px) {
  .text-57 {
    font-size: calc(1.6rem + 0.125 * ((100vw - 1024px) / 2816));
    line-height: calc(2.33rem + 0.135 * ((100vw - 1024px) / 2816));
  }
}

/* Breakpoint para desktop */
@media (min-width: 1280px) {
  .text-57 {
    font-size: calc(1.6rem + 0.125 * ((100vw - 1280px) / 3584));
    line-height: calc(2.33rem + 0.135 * ((100vw - 1280px) / 3584));
  }
}

/* Breakpoint para desktop middle */
@media (min-width: 1440px) {
  .text-57 {
    font-size: calc(1.6rem + 0.125 * ((100vw - 1440px) / 3840));
    line-height: calc(2.33rem + 0.135 * ((100vw - 1440px) / 3840));
  }
}

/* Breakpoint para desktop large */
@media (min-width: 1600px) {
  .text-57 {
    font-size: 3.5625rem; /* 57px en rem */
    line-height: 5.25rem; /* 84px en rem */
  }
}

/* Breakpoint para tablet */
@media (min-width: 640px) {
  .text {
    font-size: calc(0.8125rem + 0.3125 * ((100vw - 640px) / 960));
    line-height: calc(1.313rem + 0.2125 * ((100vw - 640px) / 960));
  }

  .text-22,
  .verification__description ul li {
    font-size: calc(0.875rem + 0.25 * ((100vw - 640px) / 960));
    line-height: calc(1.125rem + 0.125 * ((100vw - 640px) / 960));
  }

  .text-15 {
    font-size: calc(0.625rem + 0.3125 * ((100vw - 640px) / 960));
    line-height: calc(0.875rem + 0.1875 * ((100vw - 640px) / 960));
  }

  .text-18 {
    font-size: calc(0.75rem + 0.3125 * ((100vw - 640px) / 960));
    line-height: calc(1.043rem + 0.1875 * ((100vw - 640px) / 960));
  }

  .text-20 {
    font-size: calc(0.8125rem + 0.3125 * ((100vw - 640px) / 960));
    line-height: calc(1.172rem + 0.1875 * ((100vw - 640px) / 960));
  }

  .text-25,
  .content-editor p,
  .button-size-md {
    font-size: calc(1.015rem + 0.3125 * ((100vw - 640px) / 960));
    line-height: calc(1.422rem + 0.1875 * ((100vw - 640px) / 960));
  }

  .text-30 {
    font-size: calc(1.21875rem + 0.3125 * ((100vw - 640px) / 960));
    line-height: calc(1.732rem + 0.1875 * ((100vw - 640px) / 960));
  }

  .text-50 {
    font-size: calc(2.03125rem + 0.3125 * ((100vw - 640px) / 960));
    line-height: calc(2.906rem + 0.375 * ((100vw - 640px) / 960));
  }
  .text-40,
  .content-editor h2 {
    font-size: calc(1.5rem + 0.3125 * ((100vw - 640px) / 960));
    line-height: calc(2.25rem + 0.375 * ((100vw - 640px) / 960));
  }
}

/* Breakpoint para laptop */
@media (min-width: 1024px) {
  .text {
    font-size: calc(0.8125rem + 0.125 * ((100vw - 1024px) / 2816));
    line-height: calc(1.313rem + 0.135 * ((100vw - 1024px) / 2816));
  }

  .text-22,
  .verification__description ul li {
    font-size: calc(0.875rem + 0.175 * ((100vw - 1024px) / 2816));
    line-height: calc(1.125rem + 0.1125 * ((100vw - 1024px) / 2816));
  }

  .text-15 {
    font-size: calc(0.625rem + 0.125 * ((100vw - 1024px) / 2816));
    line-height: calc(0.875rem + 0.135 * ((100vw - 1024px) / 2816));
  }

  .text-18 {
    font-size: calc(0.75rem + 0.125 * ((100vw - 1024px) / 2816));
    line-height: calc(1.043rem + 0.135 * ((100vw - 1024px) / 2816));
  }

  .text-20 {
    font-size: calc(0.8125rem + 0.125 * ((100vw - 1024px) / 2816));
    line-height: calc(1.172rem + 0.135 * ((100vw - 1024px) / 2816));
  }

  .text-25,
  .content-editor p,
  .button-size-md {
    font-size: calc(1.015rem + 0.125 * ((100vw - 1024px) / 2816));
    line-height: calc(1.422rem + 0.135 * ((100vw - 1024px) / 2816));
  }

  .text-30 {
    font-size: calc(1.21875rem + 0.125 * ((100vw - 1024px) / 2816));
    line-height: calc(1.732rem + 0.135 * ((100vw - 1024px) / 2816));
  }

  .text-50 {
    font-size: calc(2.03125rem + 0.125 * ((100vw - 1024px) / 2816));
    line-height: calc(2.906rem + 0.135 * ((100vw - 1024px) / 2816));
  }
  .text-40,
  .content-editor h2 {
    font-size: calc(1.5rem + 0.125 * ((100vw - 1024px) / 2816));
    line-height: calc(2.25rem + 0.135 * ((100vw - 1024px) / 2816));
  }
}

/* Breakpoint para desktop */
@media (min-width: 1280px) {
  .text {
    font-size: calc(0.8125rem + 0.125 * ((100vw - 1280px) / 3584));
    line-height: calc(1.313rem + 0.135 * ((100vw - 1280px) / 3584));
  }

  .text-22,
  .verification__description ul li {
    font-size: calc(0.875rem + 0.175 * ((100vw - 1280px) / 3584));
    line-height: calc(1.125rem + 0.1125 * ((100vw - 1280px) / 3584));
  }

  .text-15 {
    font-size: calc(0.625rem + 0.125 * ((100vw - 1280px) / 3584));
    line-height: calc(0.875rem + 0.135 * ((100vw - 1280px) / 3584));
  }

  .text-18 {
    font-size: calc(0.75rem + 0.125 * ((100vw - 1280px) / 3584));
    line-height: calc(1.043rem + 0.135 * ((100vw - 1280px) / 3584));
  }

  .text-20 {
    font-size: calc(0.8125rem + 0.125 * ((100vw - 1280px) / 3584));
    line-height: calc(1.172rem + 0.135 * ((100vw - 1280px) / 3584));
  }

  .text-25,
  .content-editor p,
  .button-size-md {
    font-size: calc(1.015rem + 0.125 * ((100vw - 1280px) / 3584));
    line-height: calc(1.422rem + 0.135 * ((100vw - 1280px) / 3584));
  }

  .text-30 {
    font-size: calc(1.21875rem + 0.125 * ((100vw - 1280px) / 3584));
    line-height: calc(1.732rem + 0.135 * ((100vw - 1280px) / 3584));
  }

  .text-50 {
    font-size: calc(2.03125rem + 0.125 * ((100vw - 1280px) / 3584));
    line-height: calc(2.906rem + 0.135 * ((100vw - 1280px) / 3584));
  }
  .text-40,
  .content-editor h2 {
    font-size: calc(1.5rem + 0.125 * ((100vw - 1280px) / 3584));
    line-height: calc(2.25rem + 0.135 * ((100vw - 1280px) / 3584));
  }
}

/* Breakpoint para desktop middle */
@media (min-width: 1440px) {
  .text {
    font-size: calc(0.8125rem + 0.125 * ((100vw - 1440px) / 3840));
    line-height: calc(1.313rem + 0.135 * ((100vw - 1440px) / 3840));
  }

  .text-22,
  .verification__description ul li {
    font-size: calc(0.875rem + 0.175 * ((100vw - 1440px) / 3840));
    line-height: calc(1.125rem + 0.1125 * ((100vw - 1440px) / 3840));
  }

  .text-15 {
    font-size: calc(0.625rem + 0.125 * ((100vw - 1440px) / 3840));
    line-height: calc(0.875rem + 0.135 * ((100vw - 1440px) / 3840));
  }

  .text-18 {
    font-size: calc(0.75rem + 0.125 * ((100vw - 1440px) / 3840));
    line-height: calc(1.043rem + 0.135 * ((100vw - 1440px) / 3840));
  }

  .text-20 {
    font-size: calc(0.8125rem + 0.125 * ((100vw - 1440px) / 3840));
    line-height: calc(1.172rem + 0.135 * ((100vw - 1440px) / 3840));
  }

  .text-25,
  .content-editor p,
  .button-size-md {
    font-size: calc(1.015rem + 0.125 * ((100vw - 1440px) / 3840));
    line-height: calc(1.422rem + 0.135 * ((100vw - 1440px) / 3840));
  }

  .text-30 {
    font-size: calc(1.21875rem + 0.125 * ((100vw - 1440px) / 3840));
    line-height: calc(1.732rem + 0.135 * ((100vw - 1440px) / 3840));
  }

  .text-50 {
    font-size: calc(2.03125rem + 0.125 * ((100vw - 1440px) / 3840));
    line-height: calc(2.906rem + 0.135 * ((100vw - 1440px) / 3840));
  }

  .text-40,
  .content-editor h2 {
    font-size: calc(1.5rem + 0.125 * ((100vw - 1440px) / 3840));
    line-height: calc(2.25rem + 0.135 * ((100vw - 1440px) / 3840));
  }
}

@media screen and (min-width: 1600px) {
  .text {
    font-size: 1.25rem;
    line-height: 2.063rem;
  }

  .text-22,
  .verification__description ul li {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .text-15 {
    font-size: 0.938rem;
    line-height: 1.313rem;
  }

  .text-18 {
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .text-20 {
    font-size: 1.25rem;
    line-height: 1.813rem;
  }

  .text-25,
  .content-editor p,
  .button-size-md {
    font-size: 1.563rem;
    line-height: 2.188rem;
  }

  .text-30 {
    font-size: 1.875rem;
    line-height: 2.688rem;
  }

  .text-50 {
    font-size: 3.125rem;
    line-height: 4.5rem;
  }
  .text-40,
  .content-editor h2 {
    font-size: 2.5rem;
    line-height: 3.5625rem;
  }
}

.button-custom {
  background-color: #ffffff;
  color: #0097b2;
  font-family: "Gordita Bold";
  font-size: 24px;
  line-height: 30px;
  min-width: 350px;
  padding: 0.4rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* @media screen and (min-width: var(--breakpoint-desktop-large)) {
  font-size: 35px;
  line-height: 50px;
} */

.button--rounded-md {
  border-radius: 0.75rem;
}

.button--rounded-xs {
  border-radius: 0.3125rem;
}

.button-custom:hover .button-custom__icon {
  transform: translateX(20px);
}

.content-editor h2 {
  /* font-size: 2.5rem;
  line-height: 3.5625rem; */
  margin-bottom: 1.5rem;
  color: #1f4690;
  font-family: "Gordita Bold";
  margin-bottom: 1.6rem;
}

.content-editor h3 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Gordita Bold";
  color: #1f4690;
  margin-bottom: 1.4rem;
}

.content-editor p {
  /* font-size: 1.5625rem;
  line-height: 2.1875rem; */
  font-family: "Gordita Regular";
  color: #313131;
  margin-bottom: 1.5rem;
}

.content-editor b {
  font-family: "Gordita Bold";
  color: #1f4690;
}

/*
  Modals
*/

.modal {
  --w-modal: 550px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #313131bf;
  justify-content: center;
  display: none;
  z-index: 10000;
  height: 100vh;
  overflow: auto;
}

.modal__container {
  margin-inline: auto;
  max-width: var(--w-modal);
  width: 100%;
  height: 100%;
  display: flex;
}
.modal__wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  margin: auto;
  position: relative;
}

.modal--open {
  display: block;
}

.modal--xs {
  --w-modal: 350px;
}
.modal--sm {
  --w-modal: 550px;
}
.modal--md {
  --w-modal: 750px;
}
.modal--lg {
  --w-modal: 1024px;
}

.modal--full,
.modal--xl {
  --w-modal: 100%;
}

@media screen and (min-width: 1024px) {
  .modal--xl {
    --w-modal: 1024px;
  }
}

@media screen and (min-width: 1600px) {
  .modal--xl {
    --w-modal: 1340px;
  }
}

.modal__content {
  border-radius: 0.75rem;
  position: relative;
  background-color: #fff;
}

/* .modal__body {
}

.modal__footer {
} */

.modal__close {
  background-color: #8e8e8e;
  color: #d8d8d8;
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  font-family: "Gordita Bold";
}

@media screen and (min-width: 1024px) {
  .modal__close {
    width: 32px;
    height: 32px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .modal__close {
    width: 40px;
    height: 40px;
    font-size: 26px;
  }
}

@media screen and (min-width: 1600px) {
  .modal__close {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
}

.modal__close--celeste {
  background-color: #0097b2;
  color: #ffffff;
}

.modal-plantillas-form input::placeholder {
  color: var(--c-celeste-100);
  font-family: "Gordita Regular";
  font-size: 18px;
}

.dowmload-svg path {
  transition: all 250ms ease;
}

.dowmload-button svg path:hover {
  fill: #8e8e8e;
}

/*
  Header
*/

.header__link {
  position: relative;
  font-family: "Gordita Medium";
  /* font-size: 1.563rem;
  line-height: 2.188rem; */
}

.header__link:hover {
  color: rgba(0, 151, 178, 1);
  /* font-family: "Gordita Bold"; */
}

.header__link::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  top: calc(100% + 0.25rem);
  background-color: #0097b2;
  opacity: 0;
  transition: opacity 250ms ease;
}

.header_sub-list {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 160px;
  transform: scale(0);
  transition: all ease 250ms;
  background-color: #0097b2;
  padding: 1rem;
  border-radius: 10px;
  color: #ffffff;
  transform-origin: left top;
}

.header_sub-list li {
  display: flex;
  justify-content: center;
}

.header_sub-list li .header__link:hover {
  color: #ffff;
}

header li:hover > ul {
  transform: scale(1);
}

.header__link:hover::before {
  opacity: 1;
}

.custom-splide {
}

.custom-splide .splide__arrows {
  width: 1.2em;
  height: 1.2em;
}

.custom-splide .splide__arrows button:first-child {
  transform: translateX(-16px);
}

.custom-splide .splide__arrows button:last-child {
  transform: translateX(16px);
}

@media screen and (min-width: 1024px) {
  .custom-splide .splide__arrows {
    width: 1.5em;
    height: 1.5em;
  }

  .custom-splide .splide__arrows button:first-child {
    transform: translateX(-60px);
  }

  .custom-splide .splide__arrows button:last-child {
    transform: translateX(60px);
  }
}

@media screen and (min-width: 1600px) {
  .custom-splide .splide__arrows {
    width: 2em;
    height: 2em;
  }
}

.custom-splide--vertical .splide__arrows button:first-child {
  transform: translateX(0);
}

.custom-splide--vertical .splide__arrows button:last-child {
  transform: translateX(0);
}

.custom-splide--vertical.custom-splide--first-hidden
  .splide__arrows
  button:first-child {
  display: none;
}

.custom-splide .splide__arrows button {
  background-color: #1f4690;
}

.custom-splide--dark .splide__arrows button {
  background-color: #8e8e8e;
}

/*
    Pagina de servicios
*/
.services_list li:nth-child(1) {
  grid-column: initial;
}

@media screen and (min-width: 768px) {
  .services_list li:nth-child(1) {
    grid-column: 2 / span 2;
  }
}

.custom-splide .splide__arrows button svg {
  fill: white;
}

.verification__description {
  font-family: "Gordita Regular";
  font-size: 25px;
  color: #ffffff;
}

.verification__description p {
  margin-bottom: 1rem;
  font-size: 25px;
  line-height: 35px;
}

.verification__description ul li {
  list-style: disc;
  margin-left: 20px;
  font-family: "Gordita Regular";
}

.verification__description ul li::marker {
  color: #fff026;
}

.content-editor-services h2 {
  color: #0097b2;
  font-size: 2.063rem;
  line-height: 2.188rem;
  font-family: "Gordita Bold";
  margin-bottom: 1.6rem;
}

.content-editor-services h3 {
  color: #1f4690;
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-family: "Gordita Bold";
  margin-bottom: 1.6rem;
}

.content-editor-services p {
  color: #313131;
  font-family: "Gordita Regular";
  font-size: 1.463rem;
  line-height: 2.188rem;
  margin-bottom: 1.3rem;
}

.content-editor-services summary {
  color: #0097b2;
  font-family: "Gordita Bold";
  font-size: 1.875rem;
  line-height: 2.688rem;
  margin-bottom: 1rem;
}

/* Cambiar el marker por un icono de flecha hacia la derecha */
.content-editor-services summary::-webkit-details-marker {
  display: none; /* Oculta el marker predeterminado de los detalles */
}

.content-editor-services summary::after {
  content: "\002B"; /* Código Unicode para la flecha hacia la derecha */
  font-size: 30px;
  margin-right: 5px;
  vertical-align: middle;
}

.content-editor-services summary summary::after {
  font-size: 24px;
}

details[open] > summary::after {
  content: "\2212"; /* Código Unicode para la flecha hacia abajo */
}

/* Estilos adicionales para resaltar el elemento summary */

.content-editor-services summary {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.content-editor-services details b {
  color: #1f4690;
  font-size: 1.563rem;
  line-height: 2.188rem;
  font-family: "Gordita Regular";
}

.content-editor-services details ul li {
  color: #313131;
  font-size: 1.563rem;
  line-height: 2.188rem;
  font-family: "Gordita Regular";
}

.content-editor-services details ul {
  margin-left: 3rem;
  margin-bottom: 1.3rem;
}

.content-editor-services .aligncenter {
  margin-inline: auto;
}

.content-editor-services summary h2,
.content-editor-services summary h3,
.content-editor-services summary h4 {
  margin-bottom: 0;
}

.page-header {
  transition: height ease 250ms;
}

.margin-b-0 {
  margin-bottom: 0;
}

.plantillas-form input::placeholder {
  font-size: inherit;
}
